div.home-page-container {
  padding: 18px 0;
  position: fixed;
  width: 100%;
}

header {
  background-color: rgb(1, 1, 99);
  margin: 0;
  padding: 1rem;
}

body {
  background-color: azure;
}

footer {
  background-color: rgb(4, 4, 161);
}

a:hover {
  background-color: grey;
  color: azure;
  padding: 11px;
  border-radius: 25px;
}
