div.whole-file{

  margin: 0;
  padding: 0;
  border: 0;
}
div.my-projects-title {
    animation: fadeIn 5s;
    font-size: 35px;
    font-family: Arial;
    padding: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

  div#projects {
    animation: fadeIn 5s;
  }

  div#blackjack-project{
    animation: fadeIn 5s;
  }

  div.project-image {
    border-color: black;
    border-radius: 1%;
  }

  div#projects {
    display: inline-block;
  }
  div#carousel-blackjack{
    padding: 2rem;
    position: relative;
  }

  div#wiggle-waggy-walks{
    
  }

  div#carousel-blackjack{
    font-size: 30px;
  }