div.whole-file {
  margin: 0;
  padding: 0;
  border: 0;
  animation: fadeIn 5s;
}

header {
  background-color: rgb(0, 0, 0);
  padding: 4%;
}

body{
  background-color: rgb(0, 21, 40);
  color: whitesmoke;
}

div.my-projects-title {
  font-size: 35px;
  font-family: Arial;
  padding: 10px;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div#projects {
  animation: fadeIn 5s;
}

div#blackjack-project {
  animation: fadeIn 5s;
  border-bottom: 10px solid whitesmoke;
  border-width: 1px;
}

div.project-image {
  border-color: black;
  border-radius: 1%;
}

div#projects {
  display: inline-block;
}
div#carousel-blackjack {
  padding: 2rem;
  position: relative;
}

div#carousel-blackjack {
  font-size: 30px;
}

footer{
  bottom: 0;
  background-color: rgb(0, 26, 48);
  padding: 4%;
}

.home-icon{
  border-radius: 50px;
}